.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f4f4f4;
}

.post-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.post-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

.post-details:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
}

.post-details h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.post-details p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.5;
}

.post-details p strong {
  font-weight: bold;
}

.post-details .icon {
  color: #FFD700;
}

@media screen and (max-width: 768px) {
  .post-details h1 {
    font-size: 40px;
  }
  
  .post-details p {
    font-size: 16px;
  }
}
